source https://nuget.org/api/v2
nuget AWSSDK.DynamoDBv2
nuget FParsec
nuget imgur.api
nuget LinqToTwitter
nuget log4net
nuget TopShelf

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget FsUnit
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2