<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

    <appSettings>
      <add key="apiKey"    value="YOUR_CODE_GOES_HERE"/>
      <add key="apiSecret" value="YOUR_CODE_GOES_HERE"/>
      <add key="accessToken"       value="YOUR_CODE_GOES_HERE"/>
      <add key="accessTokenSecret" value="YOUR_CODE_GOES_HERE"/>
      <add key="AWSProfileName" value="YOUR_CODE_GOES_HERE"/>
      <add key="AWSRegion"      value="YOUR_CODE_GOES_HERE"/>
    </appSettings>
</configuration>
